:root {
	--font-family: 'Montserrat', sans-serif;
}

body {
	background: #E5E5E5;
	font-family: Montserrat;
	color: #33373E;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4.5625rem;
}

.control-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.125rem;
}

.sketch-area {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.credits {
	align-self: center;
	margin-top: 1rem;
}
.github-logo {
    width: 0.875rem;
    height: 0.875rem;
}

.title {
	color: #FFF;
	height: 3.58356rem;
	font-family: Montserrat;
	font-size: 3.75rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.grid-container {
	border: 3px solid #FFF;
	background: #FFF;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 0.5px; /* Adjust gap as needed */
	width: 750px; /* Set a fixed width for visualization */
	height: 750px; /* Set a fixed height for visualization */
	margin: auto; /* Center the grid container */
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: white;
}

.grid-border {
	border: 0.5px solid #ddd;
}
  

.paint-control,
.erase-control,
.grid-control,
.color-control {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 13.125rem;
	gap: 0.4375rem;
}

.grid-control,
.color-control {
	align-items: center;
	gap: 0.9375rem;
}

input[type="color"] {
    appearance: none;
    border: none;
	width: 5.625rem;
	height: 5.625rem;
	padding: 0rem;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.15088rem;
	border: 5px solid #FFF;
}


.border-button {
	width: 7.75rem;
	height: 2rem;
	border-radius: 2.375rem;
	background: #FFF;

	font-family: Montserrat;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.border-button.active {
	border: 2px solid #33373E;
	font-weight: 700;
}


input[type="range"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none; 
	/* creating a custom design */
	width: 100%;
	cursor: pointer;
	outline: none;
	border-radius: 0.9375rem; 
	
	/* New additions */
	height: 0.26881rem;
	background: #000;
}
  
/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none; 
	/* creating a custom design */
	width: 1.31538rem;
	height: 1.31538rem;
	border-radius: 1.31538rem;
	border: 3px solid #000;
	background: #FFF;

	transition: 0.2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	width: 1.31538rem;
	height: 1.31538rem;
	border-radius: 1.31538rem;
	border: 3px solid #000;
	background: #FFF;

	transition: 0.2s ease-in-out;
}
  
/* Hover, active & focus Thumb: Webkit */
input[type="range"]::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 0.5625rem rgba(21, 21, 21, 0.1); /* 10px in rem */
}
input[type="range"]:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 0.83125rem rgba(21, 21, 21, 0.2); /* 13px in rem */
}
input[type="range"]:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 0.83125rem rgba(21, 21, 21, 0.2); /* 13px in rem */
}

/* Hover, active & focus Thumb: Firefox */
input[type="range"]::-moz-range-thumb:hover {
	box-shadow: 0 0 0 1.5625rem rgba(21, 21, 21, 0.1); /* 10px in rem */
}
input[type="range"]:active::-moz-range-thumb {
	box-shadow: 0 0 0 2.03125rem rgba(21, 21, 21, 0.2); /* 13px in rem */
}
input[type="range"]:focus::-moz-range-thumb {
	box-shadow: 0 0 0 2.03125rem rgba(21, 21, 21, 0.2); /* 13px in rem */
}

.brush-button,
.shading-button,
.rainbow-button,
.erase-button,
.erase-shader-button,
.clear-button {
	font-family: Montserrat;
	background: #FFF;
	border-radius: 0.3125rem;
	border: 0px white;
	height: 3.125rem;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
}

.rainbow-button.active {
	border-radius: 0.3125rem;
	color: white;
	font-style: bold;
	font-weight: 700;
	background: linear-gradient(91deg, #B30000 0%, #B46720 15.11%, #635C1F 28.13%, #337B1A 40.11%, #139971 55.21%, #0D51B7 70.32%, #6007D3 84.38%, #F20083 100%);
	transition: 0.2s ease-in;
}

.erase-button.active,
.erase-shader-button.active,
.clear-button.active,
.brush-button.active {
	border-radius: 0.3125rem;
	background: #2B2B2B;

	color: white;
	font-style: bold;
	font-weight: 700;
	transition: 0.2s ease-in;
	

}

.shading-button.active {
	border-radius: 0.3125rem;
	background: radial-gradient(59.80% 92.87% at 54.04% 52.68%, #959595 0%, #3F3F3F 51.00%, #000 100%);

	color: white;
	font-style: bold;
	font-weight: 700;
	transition: 0.2s ease-in;
}

